@charset "UTF-8";
/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////

    Notes:
    ÔÇó   For every CSS-Grid a Fallback-Class needs to be created.

///////////////////////////////////////////////////////////////////////////////////////
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

    Content:
    ====== $ -  SASS =======================
    ($01)   SASS > Imports
    ====== A -  HTML-Structural Tags ========
    (A01)   HTML > header
    (A02)   HTML > main
    (A03)   HTML > article
    (A04)   HTML > aside
    (A05)   HTML > footer
    ====== B - Custom-Structural Tags =======
    (B01)   Custom > Double Column

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////
*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================    $ -  SASS      ================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*===================================================================================*/
/* ($01) SASS > Imports                                                              */
/*===================================================================================*/
/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////

    Content:
    ====== $ -  SASS: Variables ===============
    ($00)   Variables > Media-Threshold
    ($01)   Variables > Theme-Colors
    ($02)   Variables > Selector-Colors
    ($03)   Variables > Font-Colors
    ($04)   Variables > Shadows

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////
*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*=============================== $ -  SASS: Variables ==============================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*===================================================================================*/
/* ($00) Variables > Media-Threshold                                                 */
/*===================================================================================*/
/*===================================================================================*/
/* ($01) Variables > Theme-Colors                                                    */
/*===================================================================================*/
/* darker */
/* default */
/* brighter */
/* lighter */
/*===================================================================================*/
/* ($02) Variables > Selector-Colors                                                 */
/*===================================================================================*/
/*===================================================================================*/
/* ($03) Variables > Menu                                                            */
/*===================================================================================*/
/*===================================================================================*/
/* ($03) Variables > Form-Colors                                                     */
/*===================================================================================*/
/*===================================================================================*/
/* ($03) Variables > Font-Colors                                                     */
/*===================================================================================*/
/*===================================================================================*/
/* ($04) Variables > Shadows                                                         */
/*===================================================================================*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*============================= A -  HTML-Structural Tags ===========================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*===================================================================================*/
/* (A01) HTML > header                                                               */
/*===================================================================================*/
/*===================================================================================*/
/* (A02) HTML > main                                                               */
/*===================================================================================*/
/*===================================================================================*/
/* (A03) HTML > article                                                               */
/*===================================================================================*/
/*===================================================================================*/
/* (A04) HTML > aside                                                               */
/*===================================================================================*/
/*===================================================================================*/
/* (A05) HTML > footer                                                               */
/*===================================================================================*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*============================ B - Custom-Structural Tags ===========================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*===================================================================================*/
/* (B01) Custom > Double Column                                                      */
/*===================================================================================*/

/*# sourceMappingURL=layout.css.map */
