/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////

    Content:
    ====== $ -  SASS: Variables ===============
    ($01)   Variables > Media-Threshold
    ($02)   Variables > Theme-Colors
    ($03)   Variables > Selector-Colors
    ($04)   Variables > Menu
    ($05)   Variables > Form-Colors
    ($06)   Variables > Font-Colors
    ($07)   Variables > Shadows
    ($08)   Variables > Font-Sizes
    ($09)   Variables > Preloader

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////
*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*=============================== $ -  SASS: Variables ==============================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*===================================================================================*/
/* ($01) Variables > Media-Threshold                                                 */
/*===================================================================================*/
/*===================================================================================*/
/* ($02) Variables > Theme-Colors                                                    */
/*===================================================================================*/
/* darker */
/* default */
/* brighter */
/* lighter */
/*===================================================================================*/
/* ($03) Variables > Selector-Colors                                                 */
/*===================================================================================*/
/*===================================================================================*/
/* ($04) Variables > Menu                                                            */
/*===================================================================================*/
/*===================================================================================*/
/* ($05) Variables > Form-Colors                                                     */
/*===================================================================================*/
/*===================================================================================*/
/* ($06) Variables > Font-Colors                                                     */
/*===================================================================================*/
/*===================================================================================*/
/* ($07) Variables > Shadows                                                         */
/*===================================================================================*/
/*===================================================================================*/
/* ($08) Variables > Font-Sizes                                                      */
/*===================================================================================*/
/*===================================================================================*/
/* ($09) Variables > Preloader                                                       */
/*===================================================================================*/
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#cssmenu ul li a {
  cursor: default; }
#cssmenu ul li ul a {
  cursor: pointer; }

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

#cssmenu #menu-button {
  display: none; }

/*
 * Defined in layout_xxx.scss
#cssmenu {
    background: $theme-dark;
}
*/
#cssmenu > ul > li {
  float: left; }

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center; }

#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none; }

#cssmenu.align-center ul ul {
  text-align: left; }

#cssmenu.align-right > ul > li {
  float: right; }

#cssmenu > ul > li > a {
  padding: 12px;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #DDDDDD;
  text-transform: uppercase; }

#cssmenu > ul > li:hover > a {
  color: #FFFFFF; }

#cssmenu > ul > li.has-sub > a {
  padding-right: 30px; }

#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #DDDDDD;
  content: ''; }

#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #DDDDDD;
  content: '';
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0; }

#cssmenu ul ul {
  position: absolute;
  left: -9999px; }

#cssmenu.align-right ul ul {
  text-align: right; }

#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

#cssmenu li:hover > ul {
  left: auto; }

#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0; }

#cssmenu li:hover > ul > li {
  height: 35px; }

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0; }

#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%; }

#cssmenu ul ul li a {
  padding: 11px 15px;
  width: 170px;
  font-size: 13px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  background: #3B9EBF;
  box-shadow: inset 0 0 0px #416586;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#cssmenu ul ul li a:hover {
  background: #3287A4;
  box-shadow: inset 0 0 4px #416586; }

#cssmenu ul ul li a:active {
  background: #2E7B94; }

#cssmenu ul ul ul li a {
  padding: 11px 15px;
  width: 170px;
  font-size: 13px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  background: #63B4CF;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#cssmenu ul ul ul li a:hover {
  background: #48A7C7; }

#cssmenu ul ul ul li a:active {
  background: #3898B7; }

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0; }

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff; }

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: ''; }

#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px; }

#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px; }

#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0; }

/*# sourceMappingURL=menu.css.map */
