*{
    font-family: Calibri, Arial, sans-serif;
    font-size: 12pt;
}

html{
    background: linear-gradient(to bottom, #759ABD, #FFFFFF);
    background-attachment: fixed;
    height:100%;
}

body{
    display: grid;
}

/* SMALL PHONES */
@media only screen and (max-width: 600px){
    body{
        margin:0px;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 60px auto auto;
        grid-template-areas:
            "nav"
            "header"
            "main"
            "main";
    }

    main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
           "article"
           "aside";
    }
}

/* PORTRAIT TABLETS - LARGE PHONES */
@media only screen and (min-width: 600px){
    body{
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 15px 60px 38px auto auto 30px;
        grid-template-areas:
            ". . ."
            ". header ."
            ". nav ."
            ". main ."
            ". main ."
            ". . .";
    }

    main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
           "article"
           "aside";
    }
}

/* LANDSCAPE TABLETS */
@media only screen and (min-width: 768px){
    body{
        grid-template-columns: 1fr 5fr 3fr 1fr;
        grid-template-rows: 15px 70px 38px auto 30px;
        grid-template-areas:
            ". . . ."
            ". header header ."
            ". nav nav ."
            ". main main ."
            ". . . .";
    }

    main{
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas:
           "article aside";
    }
}

/* DESKTOP */
@media only screen and (min-width: 992px){
    body{
        grid-template-columns: 1fr 3fr 2fr 1fr;
        grid-template-rows: 15px 100px 38px auto 30px;
        grid-template-areas:
            ". . . ."
            ". header header ."
            ". nav nav ."
            ". main main ."
            ". . . .";
    }

    main{
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas:
           "article aside";
    }
}



header{
    grid-area: header;

    background: #FFFFFF;
    box-shadow: 0 0 2px 1px #828282;
    padding: 10px 0 3px 25px;
}

nav{
    grid-area: nav;

    z-index: 1000;
    background: #0066CC;
    color: #FFFFFF;
    box-shadow: 0 0 2px 1px #828282;
}

main{
    grid-area: main;
    display: grid;

    background: #FFFFFF;
    padding: 20px;
    box-shadow: 0 0 2px 1px #828282;
}

aside{
    grid-area: aside;
    background: #FFFFFF;
    padding:5px;
    border-left: 1px solid black;
}

article{
    grid-area: article;
    background: #FFFFFF;
    padding:5px;
}

footer{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    text-align:center;
    background: #454545;
    color: #FFFFFF;
}

h1{
    font-size: 22pt;
    font-weight: lighter;
    letter-spacing: -1px;
    color: #F01B16;
    margin:2px 0 2px 0;
}

h2{
    font-size: 19pt;
    font-weight: lighter;
    letter-spacing: -1px;
    color: #F01B16;
    margin:2px 0 2px 0;
}

h3{
    font-size: 17pt;
    font-weight: lighter;
    letter-spacing: -1px;
    color: #F01B16;
    margin:2px 0 2px 0;
}

h4{
    font-size: 15pt;
    font-weight: normal;
    color: #F01B16;
    margin:2px 0 2px 0;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.header_logo{
    height: 100%;

}

.header_sponsor{
    height: 100%;
    max-height:100px;
    float:right;
    margin-right: 20px;
}

/*===================================================================================*/
/* Home > News-Feed                                                                  */
/*===================================================================================*/

@keyframes news_fade_in_1{
    0% { opacity: 0; }
    10%{ opacity: 0; }
    70%{ opacity: 1; }
    100%{opacity: 1; }
}

@keyframes news_fade_in_2{
    0% { opacity: 0; }
    20%{ opacity: 0; }
    80%{ opacity: 1; }
    100%{opacity: 1; }
}

@keyframes news_fade_in_3{
    0% { opacity: 0; }
    30%{ opacity: 0; }
    90%{ opacity: 1; }
    100%{opacity: 1; }
}

.home_news_container{
    width: 100%;
}

.home_news_n1{
    animation: news_fade_in_1;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
}

.home_news_n2{
    animation: news_fade_in_2;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
}

.home_news_n3{
    animation: news_fade_in_3;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
}

.home_news_imagecontainer{
    float:left;

    height: 100px;
    border: 2px solid #3B9EBF;
    margin-right:10px;
}

.home_news_image{
    max-height: 100px;
    max-width: 180px;
    margin: auto;
    display: block;
}

.home_news_article{
    margin-bottom: 20px;
}

/*===================================================================================*/
/* Home > Tiles                                                                      */
/*===================================================================================*/
.home_tile_container{
    display: grid;
}

.home_tile_col1{

}

.home_tile_col2{

}

.home_tile_container{
    width:230px;
}

.home_tile_title{
    background: linear-gradient(to right, #C4E3ED 30%, #FFFFFF 100%);
    border-left: 3px solid #63B4CF;
    font-size: 17pt;
    font-weight: lighter;
    padding-left: 3px;
    color: #416586;
}

.home_tile_content{

}












