/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////

    Notes:
    • For every CSS-Grid a Fallback-Class needs to be created.

///////////////////////////////////////////////////////////////////////////////////////
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

    Content:
    ====== 0 - General =====================
    (01)    HTML-Structural-Tags
    (02)    Default HTML-Tags
    (03)    Headings
    (04)    Form-Elements
    (05)    Theme-Classes
    (06)    General-Classes
    (07)    Searchbar
    (08)    Staggered Fade Animations
    (09)    Double-Column Classes
    ====== A - Home ========================
    (A1)    Home > Header
    (A2)    Home > News-Feed
    (A3)    Home > Tiles
    ====== B - Vorstand ====================
    (B1)    Vorstand > User-Tiles
    (B2)    Vorstand > Additional Info
    ====== C - Home ========================
    (C1)
    ====== D - Home ========================
    (D1)
    ====== E - Home ========================
    (E1)
    ====== F - Home ========================
    (F1)

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////
*/

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================   0 - GENERAL     ================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (01) HTML-Structural-Tags                                                         */
/*===================================================================================*/

html{
    font-family: Calibri, Arial, sans-serif;
    font-size: 11pt;
    background: linear-gradient(to bottom, #759ABD, #FFFFFF);
    background-attachment: fixed;
    height:100%;
}

body{
    display: grid;
}

@media only screen and (max-width: 600px){
    /* SMALL PHONES */
    body{
        margin:0px;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 60px auto 150px;
        grid-template-areas:
            "nav"
            "header"
            "main"
            ".";
    }

    footer{
        width: 98%;
    }

}

@media only screen and (min-width: 600px){
    /* PORTRAIT TABLETS - LARGE PHONES */
    body{
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 15px 60px 38px auto 150px;
        grid-template-areas:
            ". . ."
            ". header ."
            ". nav ."
            ". main ."
            ". . .";
    }

    footer{
        width: 69%;
    }
}

@media only screen and (min-width: 768px){
    /* LANDSCAPE TABLETS */
    body{
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 15px 70px 38px auto 150px;
        grid-template-areas:
            ". . ."
            ". header ."
            ". nav ."
            ". main ."
            ". . .";
    }

    footer{
        width: 78%;
    }
}

@media only screen and (min-width: 992px){
    /* DESKTOP */
    body{
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 15px 100px 38px auto 150px;
        grid-template-areas:
            ". . ."
            ". header ."
            ". nav ."
            ". main ."
            ". . .";
    }

    footer{
        width: 69%;
    }
}

header{
    grid-area: header;

    background: #FFFFFF;
    box-shadow: 0 0 2px 1px #828282;
    padding: 10px 0 3px 25px;
}

nav{
    grid-area: nav;

    z-index: 1000;
    background: #0066CC;
    color: #FFFFFF;
    box-shadow: 0 0 2px 1px #828282;
}

main{
    grid-area: main;

    background: #FFFFFF;
    padding: 20px;
    box-shadow: 0 0 2px 1px #828282;
}

article{
    grid-area: article;
    background: #FFFFFF;
    padding:5px;
}

aside{
    grid-area: aside;
    background: #FFFFFF;
    padding:5px;
}

footer{
    position:fixed;
    z-index: -10;
    border: 1px solid #FFFFFF;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to bottom, #B9DDE9, #FFFFFF);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    text-align:center;
    color: #444444;
}

/*===================================================================================*/
/* (02) Default HTML-Tags                                                            */
/*===================================================================================*/

a{
    text-decoration: none;
    color: #3B9EBF;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

a:hover{
    text-decoration: underline;
    color: #F01B16;
}

a:active{
    color: #63B4CF;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

ul{
    padding-left: 18px;
    margin: 5px 0 2px 0;
}

ul li{
    list-style-image: url('bullet.png');
    list-style-position: outside;
    margin-top:4px;
}

code{
    font-family: monospace !important;
}


/*===================================================================================*/
/* (03) Headings                                                                     */
/*===================================================================================*/

h1{
    font-size: 22pt;
    font-weight: lighter;
    letter-spacing: -1px;
    color: #F01B16;
    margin:2px 0 2px 0;
}

h2{
    font-size: 19pt;
    font-weight: lighter;
    letter-spacing: -1px;
    color: #F01B16;
    margin:2px 0 2px 0;
}

h3{
    font-size: 17pt;
    font-weight: lighter;
    letter-spacing: -1px;
    color: #F01B16;
    margin:2px 0 2px 0;
}

h4{
    font-size: 15pt;
    font-weight: normal;
    color: #F01B16;
    margin:2px 0 2px 0;
}

/*===================================================================================*/
/* (04) Form-Element - Classes                                                       */
/*===================================================================================*/

input[type="text"],         /* Text/Number Based Form-Elements */
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"]{
    padding: 2px;
    border:none;
    margin: 3px;
    border-bottom: 1px solid #A9A9A9;
    color: #000000;
    display: inline-block;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;

}


input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus{
    border-bottom: 1px solid #3B9EBF;
    color: #416586;
}

input[type="date"],         /* Date-Based Form-Elements */
input[type="datetime-local"],
input[type="month"],
input[+type="time"],
input[type="week"]{

}

input[type="button"],       /* Text-Button Form-Elements */
input[type="reset"],
input[type="submit"],
input[type="color"],
button{
    min-height:28px;
    border: none;
    border-bottom: 3px solid #416586;
    border-top: 0px solid #FFFFFF;
    background: #3B9EBF;
    color: #FEFEFE;
    padding: 4px 6px 4px 6px;
    border-radius: 5px;
    margin: 3px;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all .09s ease-in-out;
    transition: all .09s ease-in-out;
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="color"]:hover,
button:hover{
    color: #FFFF99;
    border-bottom: 2.5px solid #416586;
    border-top: 0.5px solid #FFFFFF;
}

input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="color"]:active,
button:active{
    color: #FFFFFF;
    border-bottom: 1px solid #416586;
    border-top: 2px solid #FFFFFF;
}

/* Checkbox Start */

input[type=checkbox].slidecheckbox{
    height: 0;
    width: 0;
    visibility: hidden;
}

.checkbox_toggle_lable {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.checkbox_toggle_lable:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input.slidecheckbox:checked + .checkbox_toggle_lable {
    background: #3B9EBF;
}

input.slidecheckbox:checked + .checkbox_toggle_lable:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

/* Checkbox End */



input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 2px solid #3B9EBF;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 2px solid #3B9EBF;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #FFFFFF;
    cursor: pointer;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 2px solid #3B9EBF;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #FFFFFF;
    cursor: pointer;
}
input[type=range]::-ms-fill-lower {
    background: #828282;
    border: 0px solid #3B9EBF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #828282;
    border: 0px solid #3B9EBF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}
input[type=range]:focus::-ms-fill-lower {
    background: #828282;
}
input[type=range]:focus::-ms-fill-upper {
    background: #828282;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #828282;
}
input[type=range] {
    height: 10px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 200px;
}
input[type=range]::-ms-track {
    width: 200px;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 200px;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #828282;
    border-radius: 5px;
    border: 0px solid #3B9EBF;
}
input[type=range]::-moz-range-track {
    width: 200px;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #828282;
    border-radius: 5px;
    border: 0px solid #3B9EBF;
}




/* The container */
.radiolabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
}

/* Hide the browser's default radio button */
.radiolabel input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radiocheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiolabel:hover input[type="radio"] ~ .radiocheckmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiolabel input[type="radio"]:checked ~ .radiocheckmark {
    background-color: #3B9EBF;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiocheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiolabel input[type="radio"]:checked ~ .radiocheckmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiolabel .radiocheckmark:after {
 	top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


















textarea{                   /* Textarea Form-Element */

}

select{                     /* Select-Menu Form-Element */

}

input[type="file"]{         /* File-Selector Button Form-Element */


}

/*===================================================================================*/
/* (05) Theme-Classes                                                                */
/*===================================================================================*/

.theme{

}

.t_button{

}

.t_textbox{

}

.t_selectbox{

}

.t_textarea{

}

.t_checkbox{

}

.t_radio{

}

/*===================================================================================*/
/* (06) General-Classes                                                              */
/*===================================================================================*/

.footer_sponsors{
    max-height: 50px;
    margin-left: 50px;

}

/*===================================================================================*/
/* (07) Searchbar                                                                    */
/*===================================================================================*/

@media only screen and (max-width: 850px){
    .searchbar_container{
        display:none;
    }

    .mobile_searchtrigger_container{
        position: absolute;
        right: 8px;
        top: 4px;
    }

    .searchbar_trigger{
        border:none;
        background: #507CA5;
        padding: 3px 1px 1px 1px;
        width: 35px;
        box-shadow: inset 0 0 2px 1px #375572;
    }

    .mobile_searchbar_container{
        display: none;
        height: 0px;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .mobile_searchbar_container:target{
        display: inline-block;
        background: #416586;
        width: 100%;
        height: 38px;
        z-index: 300000;
        padding: 5px;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .mobile_searchbar{
        width:90%;
        line-height: 26px;
        font-size:14pt;
        border:none;
        box-shadow: inset 0 0 2px 1px #375572;
        background: #507CA5;
        color: #FFFFFF;
        padding-left: 5px;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 850px){
    .searchbar_container{
        position: absolute;
        right: 8px;
        top: 8px;
    }

    .searchbar{
        float: right;
        border: none;
        background: #507CA5;
        color: #FFFFFF;
        padding-left: 5px;
        box-shadow: inset 0 0 2px 1px #375572;
    }

    .mobile_searchtrigger_container, .mobile_searchbar_container{
        display:none;
    }
}

.searchbar::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
}

.searchbar:-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 0.5;
}

.searchbar::-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 0.5;
}

/*===================================================================================*/
/* (08) Staggered Fade Animations                                                    */
/*===================================================================================*/

@keyframes stag_fade_in_1{
    0% { opacity: 0; }
    10%{ opacity: 0; }
    40%{ opacity: 1; }
    100%{opacity: 1; }
}

.stagfade1{
    animation: stag_fade_in_1;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes stag_fade_in_2{
    0% { opacity: 0; }
    20%{ opacity: 0; }
    50%{ opacity: 1; }
    100%{opacity: 1; }
}

.stagfade2{
    animation: stag_fade_in_2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes stag_fade_in_3{
    0% { opacity: 0; }
    30%{ opacity: 0; }
    60%{ opacity: 1; }
    100%{opacity: 1; }
}

.stagfade3{
    animation: stag_fade_in_3;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes stag_fade_in_4{
    0% { opacity: 0; }
    40%{ opacity: 0; }
    70%{ opacity: 1; }
    100%{opacity: 1; }
}

.stagfade4{
    animation: stag_fade_in_4;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes stag_fade_in_5{
    0% { opacity: 0; }
    50%{ opacity: 0; }
    80%{ opacity: 1; }
    100%{opacity: 1; }
}

.stagfade5{
    animation: stag_fade_in_5;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes stag_fade_in_6{
    0% { opacity: 0; }
    60%{ opacity: 0; }
    90%{ opacity: 1; }
    100%{opacity: 1; }
}

.stagfade6{
    animation: stag_fade_in_6;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes stag_fade_in_7{
    0% { opacity: 0; }
    70%{ opacity: 0; }
    100%{opacity: 1; }
}

.stagfade7{
    animation: stag_fade_in_7;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

/*===================================================================================*/
/* (09) Double-Column Classes                                                        */
/*===================================================================================*/

/*=== <main><div class="doublecol"><article></article><aside></aside></div></main> ==*/
.doublecol{
    display: grid;
}

@media only screen and (max-width: 1090px){
    .doublecol{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
           "article"
           "aside";

    }

    article{
        border-right: none;
        border-bottom: 1px solid black;
    }
}

@media only screen and (min-width: 1090px){
    .doublecol{
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas:
           "article aside";

    }

    article{
        border-bottom: none;
        border-right: 1px solid black;
    }

}

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================      A - HOME     ================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (A1) Home > Header                                                                */
/*===================================================================================*/

.header_logo{
    height: 100%;

}

.header_sponsor{
    height: 100%;
    max-height:100px;
    float:right;
    margin-right: 20px;
}

/*===================================================================================*/
/* (A2) Home > News-Feed                                                             */
/*===================================================================================*/

.home_news_container{
    width: 100%;
}

.home_news_imagecontainer{
    float:left;

    height: 100px;
    border: 2px solid #3B9EBF;
    margin-right:10px;
}

.home_news_image{
    max-height: 100px;
    max-width: 180px;
    margin: auto;
    display: block;
}

.home_news_article{
    margin-bottom: 20px;
}

/*===================================================================================*/
/* (A3) Home > Tiles                                                                 */
/*===================================================================================*/
.home_tile_wrapper{
    display: grid;
}

@media only screen and (max-width: 1090px){
    .home_tile_wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "tile_col1 tile_col2";
    }
}

@media only screen and (min-width: 1090px){
    .home_tile_wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "tile_col1"
            "tile_col2";
    }
}

@media only screen and (min-width: 1380px){
    .home_tile_wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        grid-template-areas:
            "tile_col1 tile_col2";
    }
}

.home_tile_col1{
    grid-area: tile_col1;
}

.home_tile_col2{
    grid-area: tile_col2;
}

.home_tile_container_l{
    width:230px;
    margin-top:10px;
}

.home_tile_container_s{
    width:190px;
    margin-top:10px;
}

.home_tile_title{
    background: linear-gradient(to right, #C4E3ED 30%, #FFFFFF 100%);
    border-left: 3px solid #63B4CF;
    font-size: 17pt;
    font-weight: lighter;
    padding-left: 3px;
    color: #416586;
}

.home_tile_content{
    padding: 2px 2px 5px 3px;
}

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================   B - Vorstand    ================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (B1) Vorstand > User-Tiles                                                                  */
/*===================================================================================*/

.user_img_m{
    height: 120px;
}

.vmember_container{
    display: inline-block;
    vertical-align: top;
    width:150px;
    margin:8px 8px 3px 8px;
    border-bottom: 2px solid #63B4CF;
    border-radius: 0 0 15px 15px;
}

.vmember_img{
    background: linear-gradient(to right, #FFFFFF,#3B9EBF,#FFFFFF);
    text-align: center;
    height:120px;
}

.vmember_content{
    padding-left: 8px;
    min-height: 125px;
}

.vmember_content b{
    color: #AD0000;
}

.vmember_content i, span{
    color: #444444;
}

/*===================================================================================*/
/* (B2) Vorstand > Additional Info                                                              */
/*===================================================================================*/

.vadditional_info{
    display: inline-block;
    vertical-align: top;
    margin: 10px 30px 60px 5px;
    text-align: left;
}

.vadditional_info b{
    color: #AD0000;
}




