/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////

    Notes:
    •   For every CSS-Grid a Fallback-Class needs to be created.

///////////////////////////////////////////////////////////////////////////////////////
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

    Content:
    ====== $ -  SASS =======================
    ($01)   SASS > Imports
    ====== A -  HTML-Structural Tags ========
    (A01)   HTML > html
    (A01)   HTML > body
    (A01)   HTML > header
    (A01)   HTML > nav
    (A02)   HTML > main
    (A03)   HTML > article
    (A04)   HTML > aside
    (A05)   HTML > footer
    ====== B - Custom-Structural Tags =======
    (B01)   Custom > Double Column

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////
*/

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================    $ -  SASS      ================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* ($01) SASS > Imports                                                              */
/*===================================================================================*/

@import 'variables';
@import 'mixins';

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*============================= A -  HTML-Structural Tags ===========================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (A01) HTML > html                                                               */
/*===================================================================================*/

@supports (grid-area: auto){

    html{
        font-family: Calibri, Arial, sans-serif;
        font-size: $font-size-default;
        background: linear-gradient(to bottom, $theme-dark-l, #FFFFFF);
        background-attachment: fixed;
        height:100%;
    }

    @media only screen and (max-width: $media-smalllargephone){
        html{
            font-size: $font-size-portable;
        }
    }
}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A01) HTML > body                                                               */
/*===================================================================================*/

@supports (grid-area: auto){

    body{
        display: grid;
    }

    @media only screen and (max-width: $media-smalllargephone){
            body{
            margin:0px;
            grid-template-columns: 1fr;
            grid-template-rows: 30px 100px auto 150px;
            grid-template-areas:
                "nav"
                "header"
                "main"
                ".";
        }
    }

    @media only screen and (min-width: $media-smalllargephone){
        body{
            grid-template-columns: 1fr 5fr 1fr;
            grid-template-rows: 15px 60px 38px auto 150px;
            grid-template-areas:
                ". . ."
                ". header ."
                ". nav ."
                ". main ."
                ". . .";
        }
    }

    @media only screen and (min-width: $media-tablet){
        body{
            grid-template-columns: 1fr 8fr 1fr;
            grid-template-rows: 15px 70px 38px auto 150px;
            grid-template-areas:
                ". . ."
                ". header ."
                ". nav ."
                ". main ."
                ". . .";
        }
    }

    @media only screen and (min-width: $media-desktop){
        body{
            grid-template-columns: 1fr 5fr 1fr;
            grid-template-rows: 15px 100px 38px auto 150px;
            grid-template-areas:
                ". . ."
                ". header ."
                ". nav ."
                ". main ."
                ". . .";
        }
    }

}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A01) HTML > header                                                               */
/*===================================================================================*/

@supports (grid-area: auto){
    header{
        grid-area: header;

        background: #FFFFFF;
        box-shadow: $shadow-container;
        padding: 10px 0 3px 25px;
    }
}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A02) HTML > nav                                                               */
/*===================================================================================*/

@supports (grid-area: auto){
    nav{
        grid-area: nav;

        z-index: 1000;
        background: $theme-dark;
        color: #FFFFFF;
        box-shadow: $shadow-container;
    }
}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A02) HTML > main                                                               */
/*===================================================================================*/

@supports (grid-area: auto){
    main{
        grid-area: main;

        background: #FFFFFF;
        padding: 20px;
        box-shadow: $shadow-container;
        word-break: break-word;
    }
}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A03) HTML > article                                                               */
/*===================================================================================*/

@supports (grid-area: auto){
    article{
        grid-area: article;
        background: #FFFFFF;
        padding:5px;
    }
}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A04) HTML > aside                                                               */
/*===================================================================================*/

@supports (grid-area: auto){
    aside{
        grid-area: aside;
        background: #FFFFFF;
        padding:5px;
    }
}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A05) HTML > footer                                                               */
/*===================================================================================*/

@supports (grid-area: auto){
    footer{
        position:fixed;
        z-index: -10;
        border: 1px solid #FFFFFF;
        @include border-radiusPlus(10px, 10px, 0, 0);
        background: linear-gradient(to bottom, $theme-medium-l, #FFFFFF);
        left: 50%;
        transform: translateX(-50%);
        bottom: 0px;
        text-align:center;
        color: #444444;
    }

    @media only screen and (max-width: $media-smalllargephone){
        footer{
            width: 98%;
        }
    }

    @media only screen and (min-width: $media-smalllargephone){
        footer{
            width: 69%;
        }
    }

    @media only screen and (min-width: $media-tablet){
        footer{
            width: 78%;
        }
    }

    @media only screen and (min-width: $media-desktop){
        footer{
            width: 69%;
        }
    }
}

@supports not (grid-area: auto){

}

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*============================ B - Custom-Structural Tags ===========================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (B01) Custom > Double Column                                                      */
/*===================================================================================*/

/*=== <main><div class="doublecol"><article></article><aside></aside></div></main> ==*/ 
@supports (grid-area: auto){
    .doublecol, .doublecol_singletile{
        display: grid;
    }


    @media only screen and (max-width: 1090px){
        .doublecol, .doublecol_singletile{
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:
               "article"
               "aside";
        }

        article{
            border-right: none;
            border-bottom: 1px solid black;
        }
    }

    @media only screen and (min-width: 1090px){
        .doublecol{
            grid-template-columns: 3fr 2fr;
            grid-template-rows: 1fr;
            grid-template-areas:
               "article aside";

        }

        .doublecol_singletile{
            grid-template-columns: auto 250px;
            grid-template-rows: 1fr;
            grid-template-areas:
               "article aside";

        }

        article{
            border-bottom: none;
            border-right: 1px solid black;
        }
    }
}

@supports not (grid-area: auto){

}


/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================== C - Preloader ==================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (C01) Preloader                                                                   */
/*===================================================================================*/

@supports (grid-area: auto){
    #loader-wrapper {
        box-shadow: $shadow-container;
        z-index: 1000001;
        background: #FFFFFF;
        opacity: 0.9;
        text-align:center;
        min-height: 300px;

        grid-area: main;

        h3{
            margin-top: 100px;
        }

    }
}

@supports not (grid-area: auto){
    #loader-wrapper {
        position: absolute;
        left: 50%;
        height:90%;
        transform: translateX(-50%);
        box-shadow: 0 0 20px #FFFFFF;
        z-index: 1000001;
        background-color: #FFFFFF;
    }

    @media only screen and (max-width: $media-smalllargephone){
        #loader-wrapper {
            width: 100%;
            margin-top: 125px;
        }
    }

    @media only screen and (min-width: $media-smalllargephone){
        #loader-wrapper {
            width: 69%;
            margin-top: 115px;
        }
    }

    @media only screen and (min-width: $media-tablet){
        #loader-wrapper {
            width: 78%;
            margin-top: 125px;
        }
    }

    @media only screen and (min-width: $media-desktop){
        #loader-wrapper {
            width: 69%;
            margin-top: 155px;
        }
    }
}
