/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////

    Notes:
    •   For every CSS-Grid a Fallback-Class needs to be created.

///////////////////////////////////////////////////////////////////////////////////////
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

    Content:
    ====== $ -  SASS =======================
    ($01)   SASS > Imports
    ====== A -  HTML-Structural Tags ========
    (A01)   HTML > html
    (A01)   HTML > body
    (A01)   HTML > header
    (A01)   HTML > nav
    (A02)   HTML > main
    (A03)   HTML > article
    (A04)   HTML > aside
    (A05)   HTML > footer
    ====== B - Custom-Structural Tags =======
    (B01)   Custom > Double Column
    ====== C - Header Contents ==============
    (C01)   Header > Logo
    (C02)   Header > Sponsor
    (C03)   Header > Quick Nav
    ====== D - Nav Contents =================
    (D01)   Nav > Menu
    (D02)   Nav > Searchbar
    ====== Z - Other ========================
    (Z01)   Other > Preloader

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////
*/

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================    $ -  SASS      ================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* ($01) SASS > Imports                                                              */
/*===================================================================================*/

@import 'variables';
@import 'mixins';

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*============================= A -  HTML-Structural Tags ===========================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

.indexContentClassic{
    display: none;
}

.indexContentModern{
    display: block;
}

/*===================================================================================*/
/* (A01) HTML > html                                                                 */
/*===================================================================================*/

@supports (grid-area: auto){

    html{
        font-family: Calibri, Arial, sans-serif;
        font-size: $font-size-default;
        background: #FFFFFF;
        background-attachment: fixed;
        height:100%;
    }

    @media only screen and (max-width: $media-smalllargephone){
        html{
            font-size: $font-size-portable;
        }
    }
}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A01) HTML > body                                                                 */
/*===================================================================================*/

@supports (grid-area: auto){

    body{
        display: grid;
        margin: 0;
        margin-bottom: 20px;
    }

    @media only screen and (max-width: $media-smalllargephone){
            body{
            margin:0px;
            grid-template-columns: 1fr;
            grid-template-rows: 30px 120px auto 150px;
            grid-template-areas:
                "nav"
                "header"
                "main"
                ".";
        }
    }

    @media only screen and (min-width: $media-smalllargephone){
        body{
            grid-template-columns: 1fr;
            grid-template-rows: 80px 38px auto 150px;
            grid-template-areas:
                "header"
                "nav"
                "main"
                ".";
        }
    }

    @media only screen and (min-width: $media-tablet){
        body{
            grid-template-columns: 1fr;
            grid-template-rows: 100px 38px auto 150px;
            grid-template-areas:
                "header"
                "nav"
                "main"
                ".";
        }
    }

    @media only screen and (min-width: $media-desktop){
        body{
            grid-template-columns: 1fr;
            grid-template-rows: 150px 38px auto 150px;
            grid-template-areas:
                "header"
                "nav"
                "main"
                ".";
        }
    }

}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A01) HTML > header                                                               */
/*===================================================================================*/

@supports (grid-area: auto){
    header{
        grid-area: header;

        background: #FFFFFF;
        background-image: url(../content/header2.jpg);
        background-position: 0 360px;
        background-attachment: fixed;
        background-size:   100%;
        padding: 10px 0 3px 25px;
    }
}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A02) HTML > nav                                                                  */
/*===================================================================================*/

@supports (grid-area: auto){
    nav{
        grid-area: nav;
        z-index: 1000;
        background: $modern-dark;
        color: #FFFFFF;

        .dropdown_menu_container{
            display: table;
            margin: 0 auto;
        }

    }
}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A02) HTML > main                                                                 */
/*===================================================================================*/

@supports (grid-area: auto){
    main{
        grid-area: main;

        background: #FFFFFF;
        padding: 20px;
        word-break: break-word;
    }



    @media only screen and (max-width: $media-smalllargephone){
        main{
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    @media only screen and (min-width: $media-smalllargephone){
        main{
            padding-left: 15%;
            padding-right: 15%;
        }
    }

    @media only screen and (min-width: $media-tablet){
        main{
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    @media only screen and (min-width: $media-desktop){
        main{
            padding-left: 15%;
            padding-right: 15%;
        }
    }


}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A03) HTML > article                                                              */
/*===================================================================================*/

@supports (grid-area: auto){
    article{
        grid-area: article;
        background: #FFFFFF;
        padding:5px;
    }
}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A04) HTML > aside                                                                */
/*===================================================================================*/

@supports (grid-area: auto){
    aside{
        grid-area: aside;
        background: #FFFFFF;
        padding:5px;
    }
}

@supports not (grid-area: auto){

}

/*===================================================================================*/
/* (A05) HTML > footer                                                               */
/*===================================================================================*/

@supports (grid-area: auto){
    footer{
        position:fixed;
        box-shadow: inset 0 5px 5px -5px #FFFFFF;
        z-index: -10;
        background: #292929;
        height: 150px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        text-align:center;
        color: #FFFFFF;
    }
}

@supports not (grid-area: auto){

}

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*============================ B - Custom-Structural Tags ===========================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (B01) Custom > Double Column                                                      */
/*===================================================================================*/

/*=== <main><div class="doublecol"><article></article><aside></aside></div></main> ==*/ 
@supports (grid-area: auto){
    .doublecol, .doublecol_singletile{
        display: grid;
    }


    @media only screen and (max-width: 1090px){
        .doublecol, .doublecol_singletile{
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:
               "article"
               "aside";
        }

        article{
            border-right: none;
            border-bottom: 1px solid black;
        }
    }

    @media only screen and (min-width: 1090px){
        .doublecol{
            grid-template-columns: 3fr 2fr;
            grid-template-rows: 1fr;
            grid-template-areas:
               "article aside";

        }

        .doublecol_singletile{
            grid-template-columns: auto 250px;
            grid-template-rows: 1fr;
            grid-template-areas:
               "article aside";

        }

        article{
            border-bottom: none;
            border-right: none;
        }
    }
}

@supports not (grid-area: auto){

}


/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*=============================== C - Header Contents ===============================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (C01)   Header > Logo                                                             */
/*===================================================================================*/

.header_logo{
    height: 100%;
    background-image: url(../content/logo2.png);
    background-repeat: no-repeat;
    background-size: auto 100px;
    background-position: 10px;
    float: left;

}

@media only screen and (max-width: $media-smalllargephone){
    .header_logo{
        background-size: auto 80px;
        width: 490px;
    }
}

@media only screen and (min-width: $media-smalllargephone){
    .header_logo{
        background-size: auto 60px;
        width: 370px;
    }
}

@media only screen and (min-width: $media-tablet){
    .header_logo{
        background-size: auto 65px;
        width: 400px;
    }
}

@media only screen and (min-width: $media-desktop){
    .header_logo{
        background-size: auto 100px;
        width: 610px;
    }
}

/*===================================================================================*/
/* (C02)   Header > Sponsor                                                          */
/*===================================================================================*/

.header_sponsor{
    height: 100%;

    float:right;
    background-image: url(../content/sponsors/babolat2.png);
    background-repeat: no-repeat;


}

@media only screen and (max-width: $media-smalllargephone){
    /* Hide logo on small devices due to space limitations */
    .header_sponsor{
        background-size: 0 0;
        background-position: 0 0;
        width: 0px;
    }
}

@media only screen and (min-width: $media-smalllargephone){
    .header_sponsor{
        background-size: auto 30px;
        background-position: 0 20px;
        width: 150px;
    }
}

@media only screen and (min-width: $media-tablet){
    .header_sponsor{
        background-size: auto 40px;
        background-position: 0 22px;
        width: 200px;
    }
}

@media only screen and (min-width: $media-desktop){
    .header_sponsor{
        background-size: auto 60px;
        background-position: 0 30px;
        width: 300px;
    }
}

/*===================================================================================*/
/* (C03)   Header > Quick Nav                                                        */
/*===================================================================================*/

.quickNav{
    color: #FFFFFF;
    position: fixed;
    top:0px;
    left: 0px;
    right:0px;
    background: $modern-dark;
    padding: 3px;

    a{
        color: #FFFFFF;
    }

    a:hover{
        color: $font-color-ahover; 
    }

    span{
        color: #FFFFFF;
    }

}

@media only screen and (max-width: $media-smalllargephone){
    .logout_bar{
        top:38px;
    }
}

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================= D - Nav Contents ================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (D01)   Nav > Menu                                                                */
/*===================================================================================*/

#cssmenu {
    background: $modern-dark;
}

/*===================================================================================*/
/* (D02)   Nav > Searchbar                                                           */
/*===================================================================================*/

@media only screen and (max-width: $search-thrs){
    .searchbar_container{
        display:none;
    }

    .mobile_searchtrigger_container{
        position: absolute;
        right: 8px;
        top: 2px;
    }

    .mobile_searchtrigger_container .searchbar_trigger{
        border:none;
        background: #507CA5;
        padding: 3px 1px 1px 1px;
        width: 35px;
        box-shadow: inset 0 0 2px 1px #375572;
    }

    .mobile_searchbar_container{
        display: none;
        height: 0px;
        @include ease(0.5s);
    }

    .mobile_searchbar_container:target{
        display: inline-block;
        background: #416586;
        width: 100%;
        height: 38px;
        z-index: 300000;
        padding: 5px;
        @include box-sizing(border-box);
        @include ease(0.5s);
    }

    .mobile_searchbar_container .mobile_searchbar{
        width:90%;
        line-height: 26px;
        font-size:14pt;
        padding: 0px;
        border:none;
        box-shadow: inset 0 0 2px 1px #375572;
        background: #507CA5;
        color: #FFFFFF;
        padding-left: 5px;
        @include box-sizing(border-box);
    }

    .mobile_searchbar_container .mobile_searchbar:focus{
        border: none;
        color: #FFFFFF;
    }
}

@media only screen and (min-width: $search-thrs){
    .searchbar_container{
        position: absolute;
        right: -250px;
        top: 5px;
    }

    .searchbar_container .searchbar{
        float: right;
        border: none;
        background: $modern-dark;
        color: #FFFFFF;
        padding-left: 5px;
        box-shadow: inset 0 0 2px 1px #666666;
    }

    .searchbar_container .searchbar:focus{
        border: none;
        color: #FFFFFF;
    }

    .mobile_searchtrigger_container, .mobile_searchbar_container{
        display:none;
    }
}

.searchbar_container .searchbar::placeholder{
    color: #FFFFFF;
    opacity: 0.5;
}

.searchbar_container .searchbar:focus::placeholder{
    color: #FFFFFF;
    opacity: 0.8;
}

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*==================================== Z - Other ====================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (Z01)   Other > Preloader                                                         */
/*===================================================================================*/

@supports (grid-area: auto){
    #loader-wrapper {
        z-index: 1000001;
        background: #FFFFFF;
        opacity: 0.9;
        text-align:center;
        min-height: 300px;

        grid-area: main;

        h3{
            margin-top: 100px;
        }

    }
}

@supports not (grid-area: auto){
    #loader-wrapper {
        position: absolute;
        left: 50%;
        height:90%;
        transform: translateX(-50%);
        box-shadow: 0 0 20px #FFFFFF;
        z-index: 1000001;
        background-color: #FFFFFF;
    }

    @media only screen and (max-width: $media-smalllargephone){
        #loader-wrapper {
            width: 100%;
            margin-top: 125px;
        }
    }

    @media only screen and (min-width: $media-smalllargephone){
        #loader-wrapper {
            width: 69%;
            margin-top: 115px;
        }
    }

    @media only screen and (min-width: $media-tablet){
        #loader-wrapper {
            width: 78%;
            margin-top: 125px;
        }
    }

    @media only screen and (min-width: $media-desktop){
        #loader-wrapper {
            width: 69%;
            margin-top: 155px;
        }
    }
}

#loader {
        display: block;
        top: 100px;
        width:$loader-size;
        height:$loader-size;
        margin:-75px 0 0 -75px;
        margin-right: -75px;
        border: 3px solid transparent;
        border-top-color: $modern-dark ;
        border-radius:50%;

        -webkit-animation: loader-spin  2s  linear infinite;
        animation: loader-spin  2s linear infinite;
}

#loader:before {
        content:"";
        position:absolute;
        top:5px;
        left:5px;
        right:5px;
        bottom:5px;
        border: 3px solid transparent ;
        border-top-color: $theme-accent;
        border-radius:50%;

        -webkit-animation: loader-spin  3s linear infinite;
        animation: loader-spin n 3s linear infinite;
}

#loader:after {
        content:"";
        position:absolute;
        top:15px;
        left:15px;
        right:15px;
        bottom:15px;
        border: 3px solid transparent ;
        border-top-color: $modern-dark ;
        border-radius:50%;

        -webkit-animation: loader-spin  1.5s linear infinite;
        animation: loader-spin  1.5s linear infinite;
}

