/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////

    Notes:
    •   For every CSS-Grid a Fallback-Class needs to be created.
    •   For Overriding CSS-Form Classes use the following syntax:
        .container .element{} will override the Default, while
        .element{} alone will not override the default without the use of !important
        #element{} will override the default, but is not allways possible

///////////////////////////////////////////////////////////////////////////////////////
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

    Content:
    ====== $ -  SASS =======================
    ($01)   SASS > Imports
    ====== @ -  Fontfaces/Keyframes ========
    (@01)   Keyframes > Staggered Fade
    ====== Z - General =====================
    (Z01)   HTML-Structural-Tags
    (Z02)   Default HTML-Tags
    (Z03)   Headings
    (Z04)   Double-Column Classes
    (Z05)   Formating Classes
    (Z06)   Pager
    ====== Y - Form-Elements ===============
    (Y01)   Buttons
    (Y02)   Textboxes
    (Y03)   Textarea
    (Y04)   Selectbox
    (Y05)   Checkbox
    (Y06)   Radio Button
    (Y07)   Range Slider
    (Y08)   File Selector
    (Y09)   Date/Time Selectors
    (Y10)   Custom Element-Lengths
    (Y11)   Custom Element-Classes
    ====== X - General Classes ==============
    (X01)   Header-Contents
    (X02)   Searchbar
    (X03)   Footer-Contents
    (X04)   Tables
    ====== A - Home ========================
    (A01)   Home > News-Feed
    (A02)   Home > Tiles
    ====== B - Vorstand ====================
    (B01)   Vorstand > User-Tiles
    (B02)   Vorstand > Additional Info
    ====== C - Satzungen Ordnungen =========
    ====== D - Vereine =====================
    ====== E - Links =======================
    (E01)   Links > Containers
    ====== F - Downloads ===================
    ====== G - Allg. Klasse ================
    ====== H - Schüler/Jugend ==============
    ====== I - OÖBV-Ranglisten =============
    ====== J - Zentrlausschreibungen =======
    (J01)   ZA > Containers
    ====== K - Senioren ====================
    ====== L - Schiedsrichter ==============
    ====== M - Nachwuchskader ==============
    ====== N - Trainingszeiten =============
    ====== O - Fotogalierie ================
    ====== P - Jahresberichte ==============
    ====== Q - News-Archiv =================
    ====== R - OÖMM-Archiv =================

    ====== S - News ========================



\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////
*/

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================    $ -  SASS      ================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* ($01) SASS > Imports                                                              */
/*===================================================================================*/

@import 'variables';
@import 'mixins';

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*============================= @ -  Fontfaces/Keyframes ============================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (@01) Keyframes > Staggered Fade                                                  */
/*===================================================================================*/

@keyframes stag_fade_in_1{
    0% { opacity: 0; }
    10%{ opacity: 0; }
    40%{ opacity: 1; }
    100%{opacity: 1; }
}

.stagfade1{
    @include animation(stag_fade_in_1, 1s, 1, 0s);
}

@keyframes stag_fade_in_2{
    0% { opacity: 0; }
    20%{ opacity: 0; }
    50%{ opacity: 1; }
    100%{opacity: 1; }
}

.stagfade2{
    @include animation(stag_fade_in_2, 1s, 1, 0s);
}

@keyframes stag_fade_in_3{
    0% { opacity: 0; }
    30%{ opacity: 0; }
    60%{ opacity: 1; }
    100%{opacity: 1; }
}

.stagfade3{
    @include animation(stag_fade_in_3, 1s, 1, 0s);
}

@keyframes stag_fade_in_4{
    0% { opacity: 0; }
    40%{ opacity: 0; }
    70%{ opacity: 1; }
    100%{opacity: 1; }
}

.stagfade4{
    @include animation(stag_fade_in_4, 1s, 1, 0s);
}

@keyframes stag_fade_in_5{
    0% { opacity: 0; }
    50%{ opacity: 0; }
    80%{ opacity: 1; }
    100%{opacity: 1; }
}

.stagfade5{
    @include animation(stag_fade_in_5, 1s, 1, 0s);
}

@keyframes stag_fade_in_6{
    0% { opacity: 0; }
    60%{ opacity: 0; }
    90%{ opacity: 1; }
    100%{opacity: 1; }
}

.stagfade6{
    @include animation(stag_fade_in_6, 1s, 1, 0s);
}

@keyframes stag_fade_in_7{
    0% { opacity: 0; }
    70%{ opacity: 0; }
    100%{opacity: 1; }
}

.stagfade7{
    @include animation(stag_fade_in_7, 1s, 1, 0s);
}

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================   Z - GENERAL     ================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (Z01) HTML-Structural-Tags                                                        */
/*===================================================================================*/

/* See layout.scss */

/*===================================================================================*/
/* (Z02) Default HTML-Tags                                                           */
/*===================================================================================*/

a{
    text-decoration: none;
    color: $theme-medium;
    @include ease(0.1s);
}

a:hover{
    text-decoration: underline;
    color: $font-color-ahover;
}

a:active{
    color: $font-color-aactive;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

ul{
    padding-left: 18px;
    margin: 5px 0 2px 0;
}

ul li{
    list-style-image: url('bullet.png');
    list-style-position: outside;
    margin-top:4px;
}

code{
    font-family: monospace !important;
}


/*===================================================================================*/
/* (Z03) Headings                                                                    */
/*===================================================================================*/

h1{
    font-size: 22pt;
    font-weight: lighter;
    letter-spacing: -1px;
    color: $font-color-hI;
    margin:2px 0 2px 0;
}

h2{
    font-size: 19pt;
    font-weight: lighter;
    letter-spacing: -1px;
    color: $font-color-hII;
    margin:2px 0 2px 0;
}

h3{
    font-size: 17pt;
    font-weight: lighter;
    letter-spacing: -1px;
    color: $font-color-hIII;
    margin:2px 0 2px 0;
}

h4{
    font-size: 15pt;
    font-weight: normal;
    color: $font-color-hIV;
    margin:2px 0 2px 0;
}

h5{
    font-size: 12pt;
    font-weight: normal;
    color: $font-color-hV;
    margin:5px 0 2px 0;
}

/*===================================================================================*/
/* (Z04) Double-Column Classes                                                       */
/*===================================================================================*/

/*=== <main><div class="doublecol"><article></article><aside></aside></div></main> ==*/
/* See layout.scss */ 

/*===================================================================================*/
/* (Z05) Formating-Classes                                                           */
/*===================================================================================*/

.ta_l{
    text-align: left;
}

.ta_r{
    text-align: right;
}

/*===================================================================================*/
/* (Z06) Pager                                                         */
/*===================================================================================*/

.pager{

    width:100%;
    text-align:center;

    span{
        display: inline;
        vertical-align: middle;
        margin: 0px 5px 0px 5px;
    }

    a{
        text-decoration: none;
    }
}


/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================ Y - Form-Elements ================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (Y01) FormElements > Buttons                                                      */
/*===================================================================================*/
/* DESIGN A - Simple Flat Responsive Buttons (Modern) */

input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="color"],
button{
    background: $theme-medium;
    color: $button-font-default;
    border: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    padding: 8px 20px 8px 20px;
    margin: 3px;
    outline: none;
    @include ease(0.1s);
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="color"]:hover,
button:hover{
    color: $button-font-hover;
}

input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="color"]:active,
button:active{
    background: $theme-dark;
    color: $button-font-active;
}

input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="color"]:focus,
button:focus{
    color: $button-font-focus;
    border-bottom: 1px solid $theme-dark;
    border-top: 1px solid $theme-dark;
}

input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled,
input[type="color"]:disabled,
button:disabled{
    color: $font-disabled;
    background: $background-disabled;
}


/* DESIGN B - Fancy Buttons (Push-Buttons)

input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="color"],
button{
    min-height:28px;
    border: none;
    border-bottom: 3px solid #416586;
    border-top: 0px solid #FFFFFF;
    background: #3B9EBF;
    color: #FEFEFE;
    padding: 4px 6px 4px 6px;
    @include border-radius(5px);
    margin: 3px;
    outline: none;
    @include box-sizing(border-box);
    @include ease(0.09s);
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="color"]:hover,
button:hover{
    color: #FFFF99;
    border-bottom: 2.5px solid #416586;
    border-top: 0.5px solid #FFFFFF;
}

input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="color"]:active,
button:active{
    color: #FFFFFF;
    border-bottom: 1px solid #416586;
    border-top: 2px solid #FFFFFF;
}

input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="color"]:focus,
button:focus{
    background: #4FABC9;
    color: #FFFFBD;
}

*/

/*===================================================================================*/
/* (Y02) FormElements > Textboxes                                                    */
/*===================================================================================*/

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"]{
    padding: 4px;
    margin: 3px;
    border: 1px solid $textbox-border;
    color: #000000;
    display: inline-block;
    outline: none;
    @include box-sizing(border-box);
    @include ease(0.1s);

}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus{
    border-bottom: 1px solid $theme-medium;
    color: $theme-dark;
}

input[type="text"]:read-only:focus,
input[type="number"]:read-only:focus,
input[type="password"]:read-only:focus,
input[type="email"]:read-only:focus,
input[type="search"]:read-only:focus,
input[type="tel"]:read-only:focus,
input[type="url"]:read-only:focus,
textarea:read-only:focus{
    border: 1px solid $textbox-border;
    color: #000000;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="url"]::placeholder,
textarea::placeholder{
    opacity: 0.5;
    @include ease(0.1s);
}

input[type="text"]:focus::placeholder,
input[type="number"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="search"]:focus::placeholder,
input[type="tel"]:focus::placeholder,
input[type="url"]:focus::placeholder,
textarea:focus::placeholder{
    opacity: 0.7;
    color: $theme-dark;
}

/*===================================================================================*/
/* (Y03) FormElements > Textarea                                                     */
/*===================================================================================*/

textarea{
    padding: 2px;
    margin: 3px;
    border: 1px solid $textbox-border;
    color: #000000;
    display: inline-block;
    outline: none;
    font-family: Calivr, Arial, sans-serif;
    @include box-sizing(border-box);
    @include ease(0.1s);
}

/* :focus in (Y02) */

/*===================================================================================*/
/* (Y04) FormElements > Selectbox                                                    */
/*===================================================================================*/

select{
    padding: 4px 1px 4px 1px;
    margin: 3px;
    border: 1px solid $textbox-border;
    color: #000000;
    display: inline-block;
    outline: none;
    @include box-sizing(border-box);
    @include ease(0.1s);
}

select:focus{
    border-bottom: 1px solid $theme-medium;
}

/*===================================================================================*/
/* (Y05) FormElements > Checkbox                                                     */
/*===================================================================================*/

input[type=checkbox].slidecheckbox{
    height: 0;
    width: 0;
    visibility: hidden;
}

.checkbox_toggle_lable {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    @include border-radius(100px);
    position: relative;
}

.checkbox_toggle_lable:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    @include border-radius(90px);
    @include ease(0.3s);
}

input.slidecheckbox:checked + .checkbox_toggle_lable {
    background: $theme-medium;
}

input.slidecheckbox:checked + .checkbox_toggle_lable:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

/*===================================================================================*/
/* (Y06) FormElements > Radio Button                                                 */
/*===================================================================================*/

.radiolabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
}

.radiolabel input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radiocheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    @include border-radius(50%);
}

.radiolabel:hover input[type="radio"] ~ .radiocheckmark {
    background-color: #ccc;
}

.radiolabel input[type="radio"]:checked ~ .radiocheckmark {
    background-color: $theme-medium;
}

.radiocheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radiolabel input[type="radio"]:checked ~ .radiocheckmark:after {
    display: block;
}

.radiolabel .radiocheckmark:after {
 	top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    @include border-radius(50%);
    background: white;
}

/*===================================================================================*/
/* (Y07) FormElements > Range Slider                                                 */
/*===================================================================================*/

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 2px solid $theme-medium;
    height: 20px;
    width: 20px;
    @include border-radius(20px);
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 2px solid $theme-medium;
    height: 20px;
    width: 20px;
    @include border-radius(20px);
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 2px solid $theme-medium;
    height: 20px;
    width: 20px;
    @include border-radius(20px);
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #828282;
    border: 0px solid $theme-medium;
    @include border-radius(10px);
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #828282;
    border: 0px solid $theme-medium;
    @include border-radius(10px);
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]:focus::-ms-fill-lower {
    background: #828282;
}

input[type=range]:focus::-ms-fill-upper {
    background: #828282;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #828282;
}

input[type=range] {
    height: 10px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 200px;
}

input[type=range]::-ms-track {
    width: 200px;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 200px;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #828282;
    @include border-radius(5px);
    border: 0px solid $theme-medium;
}

input[type=range]::-moz-range-track {
    width: 200px;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #828282;
    @include border-radius(5px);
    border: 0px solid $theme-medium;
}

/*===================================================================================*/
/* (Y08) FormElements > File Selectors                                               */
/*===================================================================================*/

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type="file"] + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 20px;
}

.no-js input[type="file"] + label {
    display: none;
}

input[type="file"]:focus + label,
input[type="file"].has-focus + label {
    outline: 1px dotted #000000;
    outline: -webkit-focus-ring-color auto 5px;
}

input[type="file"] + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -4px;
    margin-right: 4px;
}

input[type="file"] + label {
    color: $button-font-default;
    background-color: $theme-medium;
}

input[type="file"]:focus + label,
input[type="file"].has-focus + label,
input[type="file"] + label:hover {
    color: $button-font-hover;
}

/*===================================================================================*/
/* (Y09) FormElements > Date/Time Selectors                                          */
/*===================================================================================*/

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"]{
    padding: 2px;
    margin: 3px;
    border: 1px solid $textbox-border;
    color: #000000;
    display: inline-block;
    outline: none;
    @include box-sizing(border-box);
    @include ease(0.1s);
}

input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus{
    border-bottom: 1px solid $theme-medium;
    color: #416586;
}

/*===================================================================================*/
/* (Y10) FormElements > Custom Element-Lenghts                                       */
/*===================================================================================*/

.cel_xxs{
    width: 25px
}

.cel_xs{
    width:50px;
}

.cel_s{
    width: 100px;
}

.cel_m{
    width: 180px;
}

.cel_l{
    width: 300px;
}

.cel_xl{
    width: 500px;
}

.cel_xxl{
    width:700px;
}

.cel_100{
    width:100%;
}

.cel_50{
    width: 50%;
}

.cel_33{
    width:33%;
}

.cel_25{
    width: 25%;
}

.cel_75{
    width:75%;
}

.cel_f13{
    font-size:13pt;
}

.cel_f15{
    font-size:15pt;
}

.cel_f18{
    font-size:18pt;
}

/*===================================================================================*/
/* (Y11) FormElements > Custom Element-Classes                                       */
/*===================================================================================*/

.codeprev{
    width:750px;
    height:25px;
    resize:none;
    font-family: "Courier New", Courier, monospace;
}

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*=============================== X - General Classes ===============================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (X01) Header-Contents                                                             */
/*===================================================================================*/

.header_logo{
    height: 100%;

}

.header_sponsor{
    height: 100%;
    max-height:100px;
    float:right;
    margin-right: 20px;
}

.logout_bar{
    color: #FFFFFF;
    position: fixed;
    top:0px;
    right:0px;
    background: $theme-dark;
    padding: 3px;
    box-shadow: 0px 0px 6px 3px $theme-dark ;
}

@media only screen and (max-width: $media-smalllargephone){
    .logout_bar{
        top:38px;
    }
}

/*===================================================================================*/
/* (X02) Searchbar                                                                   */
/*===================================================================================*/

@media only screen and (max-width: $search-thrs){
    .searchbar_container{
        display:none;
    }

    .mobile_searchtrigger_container{
        position: absolute;
        right: 8px;
        top: 2px;
    }

    .mobile_searchtrigger_container .searchbar_trigger{
        border:none;
        background: #507CA5;
        padding: 3px 1px 1px 1px;
        width: 35px;
        box-shadow: inset 0 0 2px 1px #375572;
    }

    .mobile_searchbar_container{
        display: none;
        height: 0px;
        @include ease(0.5s);
    }

    .mobile_searchbar_container:target{
        display: inline-block;
        background: #416586;
        width: 100%;
        height: 38px;
        z-index: 300000;
        padding: 5px;
        @include box-sizing(border-box);
        @include ease(0.5s);
    }

    .mobile_searchbar_container .mobile_searchbar{
        width:90%;
        line-height: 26px;
        font-size:14pt;
        padding: 0px;
        border:none;
        box-shadow: inset 0 0 2px 1px #375572;
        background: #507CA5;
        color: #FFFFFF;
        padding-left: 5px;
        @include box-sizing(border-box);
    }

    .mobile_searchbar_container .mobile_searchbar:focus{
        border: none;
        color: #FFFFFF;
    }
}

@media only screen and (min-width: $search-thrs){
    .searchbar_container{
        position: absolute;
        right: 8px;
        top: 5px;
    }

    .searchbar_container .searchbar{
        float: right;
        border: none;
        background: $theme-dark-b;
        color: #FFFFFF;
        padding-left: 5px;
        box-shadow: inset 0 0 2px 1px $theme-dark-d;
    }

    .searchbar_container .searchbar:focus{
        border: none;
        color: #FFFFFF;
    }

    .mobile_searchtrigger_container, .mobile_searchbar_container{
        display:none;
    }
}

.searchbar::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
}

.searchbar:-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 0.5;
}

.searchbar::-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 0.5;
}

/*===================================================================================*/
/* (X03) Footer-Contents                                                             */
/*===================================================================================*/

@keyframes sponsor_fade{
    0%{
        opacity: 0;
    }
    5%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    95%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.footer_sponsor_container{
    @include animation(sponsor_fade, 5s, infinite, 0s);
}

.footer_sponsors{
    max-height: 50px;
    margin-left: 50px;
}

/*===================================================================================*/
/* (X04) Tables                                                                      */
/*===================================================================================*/

table.centered_content td{
    text-align:center;
}

/*===================================================================================*/
/* (X05) Animation-Easing                                                            */
/*===================================================================================*/

.ease10{
    @include ease(0.10s);
}

.ease25{
    @include ease(0.25s);
}

.ease50{
    @include ease(0.50s);
}

.ease1s{
    @include ease(1s);
}

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================      A - HOME     ================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (A01) Home > News-Feed                                                            */
/*===================================================================================*/

.home_news_container{
    width: 100%;
}

.home_news_imagecontainer{
    float:left;

    height: 100px;
    border: 2px solid $theme-medium;
    margin-right:10px;
    @include ease(0.2s)
}

.home_news_imagecontainer:hover{
    border: 2px solid $font-color-ahover;
    @include ease(0.1s)
}

.home_news_image{
    max-height: 100px;
    max-width: 180px;
    margin: auto;
    display: block;
}

.home_news_article{
    margin-bottom: 20px;
    max-height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*===================================================================================*/
/* (A02) Home > Tiles                                                                */
/*===================================================================================*/
.home_tile_wrapper{
    display: grid;
}

@media only screen and (max-width: 1090px){
    .home_tile_wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "tile_col1 tile_col2";
    }
}

@media only screen and (min-width: 1090px){
    .home_tile_wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "tile_col1"
            "tile_col2";
    }
}

@media only screen and (min-width: 1380px){
    .home_tile_wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        grid-template-areas:
            "tile_col1 tile_col2";
    }
}

.home_tile_col1{
    grid-area: tile_col1;
}

.home_tile_col2{
    grid-area: tile_col2;
}

.home_tile_container_l{
    width:230px;
    margin-top:10px;
}

.home_tile_container_s{
    width:190px;
    margin-top:10px;
}

.home_tile_title{
    background: linear-gradient(to right, $theme-bright-l 30%, #FFFFFF 100%);
    border-left: 3px solid $theme-bright;
    font-size: 17pt;
    font-weight: lighter;
    padding-left: 3px;
    color: #416586;
}

.home_tile_content{
    padding: 2px 2px 5px 3px;
}

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================   B - Vorstand    ================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (B01) Vorstand > User-Tiles                                                       */
/*===================================================================================*/

.user_img_m{
    height: 120px;
}

.vmember_container{
    display: inline-block;
    vertical-align: top;
    width:150px;
    margin:8px 8px 3px 8px;
    border-bottom: 2px solid $theme-bright;
    @include border-radiusPlus(0,0,15px,15px);
}

.vmember_img{
    background: linear-gradient(to right, #FFFFFF,$theme-medium,#FFFFFF);
    text-align: center;
    height:120px;
}

.vmember_content{
    padding-left: 8px;
    min-height: 125px;
}

.vmember_content b{
    color: $font-color-b;
}

.vmember_content i, span{
    color: #444444;
}

/*===================================================================================*/
/* (B02) Vorstand > Additional Info                                                  */
/*===================================================================================*/

.vadditional_info{
    display: inline-block;
    vertical-align: top;
    margin: 10px 30px 60px 5px;
    text-align: left;
}

.vadditional_info b{
    color: $font-color-b;
}


/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================     E - Links     ================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (E01) Links > Containers                                                          */
/*===================================================================================*/

.links_container{
    display: inline-block;
    vertical-align: top;
}

.links_iframe_container{
    float: right;
    display: inline-block;
    vertical-align: middle;
    height: 600px;
    width: 70%;
}

.links_iframe{
    height: 100%;
    width: 100%;
}

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*============================ J - Zentrlausschreibungen ============================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (J01)   ZA > Containers                                                           */
/*===================================================================================*/


.za_box{
    display: inline-flex;
    width: 100%;
    padding: 10px;

    div{
        width:30%;
        padding: 15px;
        background: linear-gradient(to right, $theme-bright-l, #F2F2F2);
    }

    table{
        width:70%;
        background: #F2F2F2;

        td{
            padding: 3px 0 3px 10px;
        }

        td:nth-child(2){
            color: #696969;
        }

    }
}

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*================================= R - OÖMM-Archiv =================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (R01)   OÖMM-Archiv > Table                                                       */
/*===================================================================================*/

.archiveTables{
    text-align: center;
    table{

        border-spacing: 0;
        border-collapse: collapse;
        display: inline-table;
        vertical-align: top;
        margin: 8px 15px 8px 15px;
        border-bottom: 1px solid #696969;
        min-width: 425px;



        tr:nth-child(1) th{
            background: #F01B16;
            color: #FFFFFF;
            text-align: center;
            font-size: 16pt;

        }

        tr:nth-child(2) td{
            background: #013756;
            color: #FFFFFF;
        }

        tr:nth-child(2n+1){
            background: #FFFFFF;
            font-size: 11pt;
            font-weight: lighter;
        }

        tr:nth-child(2n){
            background: #EBEBEB;
            font-size: 11pt;
            font-weight: lighter;
        }

        td{
            padding: 3px 5px 3px 5px;
        }

        td:nth-child(3),
        td:nth-child(4),
        td:nth-child(5),
        td:nth-child(6),
        td:nth-child(9){
            text-align: right;
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*===================================== S - News ====================================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* (S01)   News > Tags                                                               */
/*===================================================================================*/

.tag_container{
    div{
        display: inline-block;
        vertical-align: top;

        div{
            border: 1px solid $theme-dark;
            background: $theme-medium-l;
            @include border-radius(5px);
            margin: 3px;
            padding: 0 10px 1px 5px;
        }
    }

    a{
        cursor:pointer;
        text-decoration: none;
    }

}
