/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////

    Content:
    ====== $ -  SASS: Variables ===============
    ($00)   Variables > Media-Threshold
    ($01)   Variables > Theme-Colors
    ($02)   Variables > Selector-Colors
    ($03)   Variables > Font-Colors
    ($04)   Variables > Shadows

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////
*/

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*=============================== $ -  SASS: Variables ==============================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* ($00) Variables > Media-Threshold                                                 */
/*===================================================================================*/

$media-smalllargephone: 600px;
$media-tablet: 768px;
$media-desktop: 992px;

$search-thrs: 850px;

/*===================================================================================*/
/* ($01) Variables > Theme-Colors                                                    */
/*===================================================================================*/

/* darker */         
$theme-dark-d: #375572;
$theme-bright-d: #48A7C7;


/* default */
$theme-dark: #416586;
$theme-medium: #3B9EBF;
$theme-bright: #63B4CF;

/* brighter */
$theme-dark-b: #507CA5;

/* lighter */
$theme-dark-l: #759ABD;
$theme-medium-l: #B9DDE9;
$theme-bright-l: #C4E3ED;

/*===================================================================================*/
/* ($02) Variables > Selector-Colors                                                 */
/*===================================================================================*/

$button-font-default: #FFFFFF;
$button-font-hover: #FFFF99;
$button-font-active: #FFFF5C;
$button-font-focus: #FFFFBD;

$font-disabled: #A9A9A9;
$background-disabled: #696969;

/*===================================================================================*/
/* ($03) Variables > Menu                                                            */
/*===================================================================================*/

$menu-sI-hover: #3287A4;
$menu-sI-active: #2E7B94;

$menu-sII-hover: #48A7C7;
$menu-sII-active: #3898B7;

$menu-drop-speed: 0.25s;

/*===================================================================================*/
/* ($03) Variables > Form-Colors                                                     */
/*===================================================================================*/

$textbox-border: #A9A9A9;

/*===================================================================================*/
/* ($03) Variables > Font-Colors                                                     */
/*===================================================================================*/

$font-color-hI: #F01B16;
$font-color-hII: #F01B16;
$font-color-hIII: #F01B16;
$font-color-hIV: #F01B16;
$font-color-hV: #F01B16;
$font-color-hVI: #F01B16;

$font-color-b: #AD0000;

$font-color-ahover: #F01B16;
$font-color-aactive: #63B4CF;

/*===================================================================================*/
/* ($04) Variables > Shadows                                                         */
/*===================================================================================*/

$shadow-container: 0 0 2px 1px #828282;

/*===================================================================================*/
/* ($04) Variables > Font-Sizes                                                      */
/*===================================================================================*/

$font-size-default: 11pt;
$font-size-portable: 14pt;


