###############################
###############################
##    Apache Server Config   ##
##        KEEP ORDERED       ##
###############################
###############################

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

###############################
#         URL Rewrites        #
###############################

# Rewrite Rules for edit-home-tiles.php
RewriteRule ^home/Meisterschaft/bearbeiten edit-home-tiles.php?tile=Meisterschaft [NC,QSA,L]
RewriteRule ^home/Ranglisten/bearbeiten edit-home-tiles.php?tile=Ranglisten [NC,QSA,L]
RewriteRule ^home/Links/bearbeiten edit-home-tiles.php?tile=Links [NC,QSA,L]

# Rewrite Rules for news.php
RewriteRule ^news/neu news.php?neu [NC,QSA,L]
RewriteRule ^news/artikel/([a-zA-Z0-9-]+)/?$ news.php?artikel=$1 [NC,QSA,L]
RewriteRule ^news/suche news.php?suche [NC,QSA,L]
RewriteRule ^news/kategorie/([a-zA-Z0-9-]+)/?$ news.php?kategorie=$1 [NC,QSA,L]

# Rewrite Rules for spieler-des-monats.php
RewriteRule ^spieler-des-monats/neu spieler-des-monats.php?neu [NC,QSA,L]
RewriteRule ^spieler-des-monats/([a-zA-Z0-9-]+)/?$ spieler-des-monats.php?article=$1 [NC,QSA,L]

# Rewrite Rules for ooem-archiv.php
RewriteRule ^ooemm-archiv/jahr/([a-zA-Z0-9-]+)/?$ ooemm-archiv.php?jahr=$1 [NC,QSA,L]

# Rewrite Rules for fotgalerie.php
RewriteRule ^fotogalerie/album/([a-zA-Z0-9-]+)/?$ fotogalerie.php?album=$1 [NC,QSA,L]
RewriteRule ^fotogalerie/neu fotogalerie.php?neu [NC,QSA,L]

# Rewrite Rules for kalender.php
RewriteRule ^kalender/neu kalender.php?neu [NC,QSA,L]
RewriteRule ^kalender/event/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/?$/?$ kalender.php?event=$1&datum=$2 [NC,QSA,L]
RewriteRule ^kalender/datum/([a-zA-Z0-9-]+)/?$ kalender.php?datum=$1 [NC,QSA,L]
RewriteRule ^kalender/([a-zA-Z0-9-]+)/?$ kalender.php?category=$1 [NC,QSA,L]

# Rewrite Rules for zentralausschreibungen.php
RewriteRule ^zentralausschreibung/neu zentralausschreibung.php?neu [NC,QSA,L]

# Rewrite Rules for vereine.php
RewriteRule ^vereine/neu vereine.php?neu [NC,QSA,L]

# Rewrite Rules for vorstand.php
RewriteRule ^vorstand/neu vorstand.php?neu [NC,QSA,L]

# Rewrite Rules for nachwuchskader.php
RewriteRule ^nachwuchskader/neu nachwuchskader.php?neu [NC,QSA,L]

# Rewrite Rules for zentralausschreibungen.php
RewriteRule ^schiedsrichter/seite/([a-zA-Z0-9-]+)/?$ schiedsrichter.php?seite=$1 [NC,QSA,L]

# Rewrite Rules for suche.php
RewriteRule ^suche/([a-zA-Z0-9-]+)/(.*)/([0-9]+)/?$/?$/?$ /suche.php?suche=$2&kategorie=$1&limit=$3 [B,PT]
RewriteRule ^suche/([a-zA-Z0-9-]+)/(.*)/?$/?$ /suche.php?suche=$2&kategorie=$1 [B,PT]

# Rewrite Rules for verein-info.php
RewriteRule ^verein-info/mitglieder verein-info.php?mitglieder [NC,QSA,L]

# Rewrite Rules for spielerreihung.php
RewriteRule ^spielerreihung/bearbeiten spielerreihung.php?bearbeiten [NC,QSA,L]

# Rewrite Rules for spielerranglistenSettings.php
RewriteRule ^spielerrangliste/einstellungen/([a-zA-Z0-9-_]+)/?$ spielerranglistenSettings.php?season=$1 [NC,QSA,L]
RewriteRule ^spielerrangliste/einstellungen spielerranglistenSettings.php [NC,QSA,L]

# Rewrite Rules for spielerrangliste.php
RewriteRule ^spielerrangliste/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/?$/?$ spielerrangliste.php?year=$1&club=$2 [NC,QSA,L]

# Rewrite Rules for delete.php
RewriteRule ^delete/(.*)/([a-zA-Z0-9-_]+)/([a-zA-Z0-9-]+)/?$/?$/?$ delete.php?t=$1&s=$2&i=$3 [NC,QSA,L]

# Rewrite Rules for filecreators
RewriteRule ^spielerrangliste/([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)/pdf/?$/?$ filecreators/pdf-spielerrangliste.php?year=$1&club=$2 [NC,QSA,L]
RewriteRule ^spielerrangliste/([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)/xls/?$/?$ filecreators/xls-spielerrangliste.php?year=$1&club=$2 [NC,QSA,L]
RewriteRule ^spielerrangliste/([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)/csv/?$/?$ filecreators/csv-spielerrangliste.php?year=$1&club=$2 [NC,QSA,L]

# Rewrite Rules for trainingsgruppen
RewriteRule ^trainingsgruppen/([a-zA-Z0-9-_]+)/eintragen/?$ trainingsgruppen.php?eintragen=$1 [NC,QSA,L]

# Rewrite Rules for member-edit
RewriteRule ^mitglieder/bearbeiten/([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)/?$/?$ editMembers.php?permissionSuffix=$1&memberID=$2 [NC,QSA,L]

#Ignore .php-Extension
RewriteRule ^([^\.]+)$ $1.php [NC,L]

###############################
#    Forbidden Directories    #
###############################
RewriteRule (^|/)backup(/|$) - [F]
RewriteRule (^|/)sass(/|$) - [F]

###############################
#       Error Ducuments       #
###############################
# ERROR 400: Bad Request
ErrorDocument 400 /400.php

# ERROR 401: Unauthorised
ErrorDocument 401 /401.php

# ERROR 403: Forbidden
ErrorDocument 403 /403.php

# Error 404: Not Found
ErrorDocument 404 /404.php

# Error 500: Internal Server Error
ErrorDocument 500 /500.php